/* Basic Styles */
body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2d3c49;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
}

/* Grid System */
.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 50%;
  float: left;
}

.third-width {
  width: 30%;
  float: left;
}

/* Header */
header {
  border: 2px solid #7d97ad;
  height: 230px;
}

header
.half-width {
  padding-left: 15px;
}

header
h1 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 52px;
  color: #02b3e4;
}

header
h2 {
  font-size: 42px;
  text-transform: uppercase;
}

header
h3 {
  font-size: 32px;
}

/* Header Image */
#header-image {
  padding: 25px 0;
}

/* Featured Work */
#featured {
  height: 400px;
}

#featured
.full-width {
  padding: 20px 0;
}

#featured
.third-width {
  padding-left: 15px;
}

#featured
h2 {
  font-size: 42px;
  color: #7d97ad;
}

#featured
h3 {
  font-size: 32px;
}

#featured
p {
  font-size: 20px;
}

#featured
img {
  width: 330px;
}

#featured
.clock {
  order: 1;
}

#featured
.tribute-page {
  order: 2;
}

#featured
.magic-ball {
  order: 3;
}

/* Footer */
footer {
  height: 100px;
}

footer
.full-width {
  padding: 50px 0;
}

footer
p {
  font-size: 16px;
}
